.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: var(--light);

    &:after {
        content: '';
        width: 100px;
        height: 100px;
        border-top: 4px solid var(--dark);
        background: var(--light);
        border-radius: 50%;
        animation-name: load;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-duration: 1.5s;
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
    }
}

@keyframes load {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
