@import 'src/styles/mixins';

.button {
    @include border-box();
    background: var(--light);
    color: var(--dark);
    width: 100%;
    font-weight: bold;
    transition: all 0.2s ease;
    min-height: 40px;

    &:hover {
        color: var(--light);
        background: var(--dark);
    }
}
