@import '../../styles/mixins';

.input {
    @include border-box;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    flex: 1 0 auto;
}

.label {
    margin-top: 2em;
    cursor: pointer;
    margin-bottom: 8px;
    display: block;
    width: 100%;
    font-weight: bold;
}

.radioInput {
    margin-right: 2em;
}

.select {
    max-width: 200px;
}