@import 'src/styles/mixins';
@import 'src/styles/variables';

.button {
    @include border-box();
    background: var(--light);
    color: var(--dark);
    width: 100%;
    font-weight: bold;
    @include transition();
    min-height: $sectionHeight;

    &:hover {
        color: var(--light);
        background: var(--dark);
    }
}
