@import 'variables';

$box-X-padding: 1em;
$box-Y-padding: 0.5em;

@mixin border-box {
    border: $border-width solid var(--dark);
    padding: $box-Y-padding $box-X-padding;
}

@mixin button {
    background: transparent;
    border: none;
}

@mixin messagePointer($invert: 1) {
    &:before {
        content: '';
        z-index: 1;
        position: absolute;
        top: -11px;
        background: var(--light);
        width: 9px;
        height: 11px;

        @if ($invert == 1) {
            left: 28px;
            border-left: 2px solid var(--dark);
        } @else {
            right: 28px;
            border-right: 2px solid var(--dark);
        }

        background: linear-gradient(
            45deg * $invert,
            var(--light) 40%,
            var(--dark) 40%,
            var(--dark) 54%,
            var(--light) 54%
        );
    }
}

@mixin transition {
    transition: all 0.2s ease;
}