/*
native css variables are great, They also allow for easy theming in runtime
This is why i used them over scss variables for colors
*/

:root {
  --dark: #000;
  --light: #FFF;
  --alert: #fa3c4c;
}

$content-width: 1000px;
$border-width: 2px;
$base-font: 16px;
$sectionHeight: 40px;