@import '../../styles/mixins';
@import '../../styles/variables';

.wrapper {
    display: flex;
}

.messageInput {
    flex: 1 0 auto;
}

.sendBtn {
    @include button();
    height: $sectionHeight;
    padding: 0 1em;
    flex: 0 0 calc(40px + 2em);

    svg {
        width: 100%;
        height: 100%;
        fill: var(--dark);
    }

    &:focus {
        outline: none;
    }
}
